.CoursePage {
    padding-top: 80px;
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.course-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    /* Trong suốt 20% */
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.course-header {
    text-align: center;
    margin-bottom: 20px;
}

.course-header p.course-description {
    font-size: 1.2em;
    width: 70%;
    margin: 0 auto;
}

.progress-bar {
    width: 100%;
    max-width: 600px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto;
}

.progress-bar-fill {
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px 0 0 10px;
}

.chapter-section {
    margin-bottom: 30px;
    width: 100%;
    max-width: 600px;
}

.chapter-section h2 {
    margin-bottom: 10px;
    text-align: left;
}

.lesson-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto 5px auto;
    justify-content: space-between;
    cursor: pointer; /* Default cursor */
}

.lesson-item.completed {
    background-color: #2c9530; /* Same color as progress bar */
}

.lesson-item.uncompleted {
    background-color: #d3d3d3;
}

.lesson-icon {
    margin-right: 10px;
    font-size: 18px;
}

.check-circle {
    font-size: 20px;
    color: #4caf50; /* Match the progress bar color */
    visibility: hidden;
    margin-left: 0;
}

.lesson-item.completed .check-circle {
    visibility: visible;
}

.lesson-item:hover {
    background-color: #e0e0e0;
}

.lesson-item.unclickable {
    background-color: #a1a1a1; /* Darker grey background for unclickable items */
    cursor: not-allowed; /* Show restricted cursor */
}

.lesson-item.unclickable a {
    color: black !important; /* Force text color to stay black */
    pointer-events: none; /* Prevent clicking */
}

.lesson-item.unclickable:hover {
    background-color: #a1a1a1; /* Keep background color dark grey */
    cursor: not-allowed; /* Keep restricted cursor on hover */
}

.lesson-item.unclickable a:hover {
    color: black; /* Ensure text stays black on hover */
}
